.App {
  /* background-color:black;
  background-repeat: no-repeat;
  opacity: 0.9; */
  /* margin: 10px;
  margin-top: 40px;
  padding: 30px; */
  /* box-shadow: -1px 2px 7px -2px #7d7b7d; */
}

.background{
  height: 100vh;
  width: 100%;
  position: absolute;
}

.menu__items{
  position: absolute;
}

.res{
  animation: blink-animation 1s steps(10, start) infinite;
}

.cont{
  animation: blink-animation 1s steps(200, start) infinite;
}

.cert {
  animation: blink-animation 1s steps(150, start) infinite;
}

.ques {
  animation: blink-animation 1s steps(400, start) infinite;
}

.sub {
  animation: blink-animation 1s steps(100, start) infinite;
}

.menu__blinker {
  color: #83FFFF;
  height: 10px;
  width: 10px;
  opacity: 0.8;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
